* 
{
margin: 0px;
font-family: 'Italianno';
}
body 
{
background-color: aqua;
}

.navig 
{
background-color: red; 
margin-left: 12%;
width: 75%;
height: 10vh;
font-size: 40px;
text-align: center;
}

nav ul li
{
text-decoration: none;
display: inline;
list-style-type: none;
text-transform: uppercase;
padding: 25px;
}

nav 
{
padding-top: 20px;
}

a 
{
text-decoration: none;
}

.middle
{
background-color: orange;
margin-left: 12%;
width: 75%;
height: 200vh;
}

.middleeq
{
background-color: orange;
margin-left: 12%;
width: 75%;
height: 100vh;
}


.middle h3 
{
font-size: 60px;
padding: 15px;
}

.middle img 
{
height: 10%;
width: 15%;
margin-left: 3%;
}

.chet
{
margin-left:20%;
border: 2px black solid;
width: 65%; height: 40vh;
background-color: #ffffff; 
opacity:0.75;
margin-top: 30vh;
}
.btn-grid 
{
display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin-top: 20px;
}
.bt 
{
background-color: blue;
border: 1px solid black;
border-radius: 5px;
padding: 5px;
color: white;
outline: none;
}

.bt:hover
{
border-color: black;
}

.infohero
{
border: 2px black solid;
width: 75%; height: 10%;
background-color: #ffffff; 
opacity:0.75;
margin-right: 15px;
margin-bottom: 25px;
float: right;
font-size: 50px;
}
.infohero th ,td
{
border: 2px black solid;
}
.eqtable
{
border: 2px black solid;
width: 75%; height: 75%;
background-color: #ffffff; 
opacity:0.75;
margin-left: 100px;
margin-right: 15px;
margin-bottom: 25px;
font-size: 50px;
}
#TwEq 
{
text-align: center;
font-size: 100px;
}
.mapka{
    font-size:3rem;
    display: grid;
    text-align: center;
}
.lista{
    font-size: 3rem;
}