* 
{
margin: 0px;

}
body 
{
    font-family: 'Italianno';
background-image: url("./img/tlo.jpeg");
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
}

.navig 
{
background-color: rgb(53, 53, 66); 
margin-left: 12%;
width: 75%;
height: 10vh;
font-size: 40px;
text-align: center;
}

nav ul li
{
text-decoration: none;
display: inline;
list-style-type: none;
text-transform: uppercase;
padding: 25px;
}

nav 
{
padding-top: 20px;
}

a 
{
color: black;
}
#text{
    font-family: fantasy;
    font-size: 25px;
    text-align: center;

}
.middle
{
background-color: rgb(87, 87, 110);
margin-left: 12%;
width: 75%;
height: 200vh;
}

.middleeq
{
background-color: rgb(87, 87, 110);
margin-left: 12%;
width: 75%;
height: 100vh;
}
.mapa{
    width: 800px !important;
    height: 800px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
}

.middle h3 
{
font-size: 60px;
padding: 15px;
}

.middle img 
{
height: 10%;
width: 15%;
margin-left: 3%;
}

.chet
{
    
margin-left:20%;
border: 2px black solid;
width: 65%; height: 40vh;
background-color: #ffffff; 
opacity:0.75;
margin-top: 30vh;
}
.container {
    width: 100%;
    max-width:500px;
    height: 100px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
    margin-top: 8px;
  }
  
  .btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }

.infohero,td
{
border: 2px black solid;
width: 75%; height: 10%;
background-color: #ffffff; 
opacity:0.75;
margin-right: 15px;
margin-bottom: 25px;
float: right;
font-size: 50px;
}

.eqtable
{
border: 2px black solid;
width: 85%; height: 75%;
background-color: #ffffff; 
opacity:0.75;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 25px;
font-size: 50px;
}
#TwEq 
{
text-align: center;
font-size: 100px;
}
.cum{
    text-align: center;
    font-size: 3rem;
}
.holder-author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    height:40vh;
    margin-top:150px;
}
.holder-author img{
    min-width:80%;
    height:500px;
}
.holder-author a{
    font-size:3rem;
}
.easter2{
    width: 25px;
    height: 15px;
}

#chet{
    width:100%;
    display: flex;
    justify-content: center;
}

